<%= form_with(model: current_user.active_relationships.build, local: true) do |f| %>
<div><%= f.hidden_field :followed_id, @user.id %></div>
<%= f.submit 'Follow', class: 'btn btn-primary' %>
<% end %>